<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.biz.mapper.TransferRecordMapper">
    <resultMap id="BaseResultMap" type="com.demo.biz.entity.TransferRecord">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="from_user_id" property="fromUserId" jdbcType="BIGINT"/>
        <result column="change_money" property="changeMoney" jdbcType="BIGINT"/>
        <result column="to_user_id" property="toUserId" jdbcType="BIGINT"/>
        <result column="record_no" property="recordNo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, from_user_id, change_money, to_user_id, record_no
    </sql>

    <insert id="insert" parameterType="com.demo.biz.entity.TransferRecord">
      insert into transfer_record
      (
      id,
      from_user_id,
      change_money,
      to_user_id,
      record_no
      )
      values
      (
      #{id,jdbcType=BIGINT},
      #{fromUserId,jdbcType=BIGINT},
      #{changeMoney,jdbcType=BIGINT},
      #{toUserId,jdbcType=BIGINT},
      #{recordNo,jdbcType=VARCHAR}
      )
    </insert>

    <select id="selectCountByRecordNo" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM transfer_record
        WHERE record_no = #{recordNo}
    </select>

</mapper>
